{% extends 'layout/playarea.html.twig' %}


{% block content %}
    <!-- ##### Post Details Area Start ##### -->
    <section class="post-news-area section-padding-100-0 mb-70">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-lg-8 col-xl-9">
                    <div class="post-details-content mb-100">
                        <div class="big-post-thumbnail mb-50 ">
                            <a href="{{ url('view_area', {slug: area.slug}) }}" class=""></a>
                            <h2 class="align-center green-color"> {{ area.name }} </h2>
                            <img src="{{ asset('uploads/'~area.gallery.photos[0].url) }}" alt="" class="border-julie">
                        </div>
                        <div class="blog-content">

                                    <h4 class="green-color">Description :</h4> <p class="black-color">{{ area.decription }}</p>
                           <div class="row align-items-center border-julie2 ">
                            <div class="col-12 col-md-6">
                                <div class="big-post-content">
                                    <h6 class="green-color"> Adress du site :</h6>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="big-post-content">
                                    <p class="black-color">{{ area.adress }}</p>
                                </div>
                            </div>
                           </div>

                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Code postal :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.postalcode }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Ville :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.ville }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Adapté pour des enfants de 0 à 3 ans ? :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.age1 }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Adapté pour des enfants de 3 à 6 ans ? :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.age2 }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Adapté pour des enfants de 6 à 10 ans ? :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.age3 }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Adapté pour des enfants de plus de 10 ans ? :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.age4 }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Acces PMR? :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.pmr }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Restauration :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.restaurant }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Possibilité de pique niquer sur place :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.picnic }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Autres activités sur place? :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.otheractivites }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Accès payant ou gratuit? :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.access }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Parking disponible :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.parking }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <h6 class="green-color"> Adress du site :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="big-post-content">
                                        <p class="black-color">{{ area.adress }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center border-julie2">
                                <div class="col-12 col-md-6 ">
                                    <div class="big-post-content ">
                                        <h6 class="green-color"> Adresse internet du site :</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 ">
                                    <div class="big-post-content">
                                        <a href="" class="black-color">{{ area.website }}</a>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        {% if app.user %}
                            <div class="col-12 col-md-6 col-lg-4 ">
                                <div class="single-post-catagory border-julie space">
                                    {% for photo in area.gallery.photos %}
                                        <a href="{{ asset('uploads/'~photo.url) }}" data-rel="prettyPhoto[gal]"><img src="{{ asset('uploads/'~photo.url) }}" alt="" class="img-responsive"></a>
                                    {% endfor %}
                                </div>
                            </div>
                        <!-- Comment Area Start -->
                        <div class="comment_area clearfix mb-100">
                            <h4 class="mb-50">Commentaires</h4>
                            {% for comment in area.comments %}

                                    <!-- Single Comment Area -->
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <div class="d-flex">
                                                    <p class="green-color author ">{{ comment.author.name }}</p>
                                                    <p class="green-color date">{{ comment.date |date("F jS \\a\\t g:ia") }}</p>
                                                    <a href="{{ path('reportComment', {id:comment.id}) }}" class="flag"><i class="fa fa-flag "></i></a>
                                                </div>
                                                <div class="comment-content">
                                                    <p>{{ comment.content }}</p>

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                            {% endfor %}
                        </div>

                        <div class="post-a-comment-area mb-30 clearfix">
                            <h4 class="mb-50">Ajouter un commentaire</h4>

                            <!-- Reply Form -->
                            <div class="contact-form-area">

                                {{ form (commentForm) }}

                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}