{#Création d'un bout de code que je peux appeler dans différentes pages afin d'éviter la dupplication de code#}
<!-- ##### Post Details Area Start ##### -->
<section class="post-news-area section-padding-100-0 mb-70">
    <div class="container space-julie">
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="post-details-content mb-100">
                    <div class="blog-thumbnail mb-50">
                    </div>
                    <div class="blog-content">
                        <a href="{{ url('view_area', {slug: area.slug}) }}" class=""></a>
                        <h2 class="post-title">{{ area.name }}</h2>
                        <div class="blog-thumbnail mb-50">
                            <div class="julie">
                            <img src="{{ asset('uploads/'~area.gallery.photos[0].url) }}" alt="" class="">
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4 class="green-color">Description :</h4> <p class="black-color">{{ area.decription }}</p>
                        <a class="green-color" href="{{ url('view_area', {slug: area.slug}) }} ">En savoir plus </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

