{% extends 'layout/admin.html.twig' %}

{% block content %}
        <!-- Page Heading -->
{#    pour afficher le nom de l'admin connecté#}
        <h1 class="h3 mb-2 text-gray-800">Salut {{ app.user.name }}</h1>
        {# <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> #}

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary green-color">Derniers commentaires signalés</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="dataTable_length"><label>Show <select
                                                name="dataTable_length" aria-controls="dataTable"
                                                class="custom-select custom-select-sm form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> entries</label></div>
                            </div>
                        </div>
                        <div class="row">
{#                            Mettre les différentes colonnes avec les intitulés#}
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" role="grid"
                                       aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" style="width: 272px;" aria-sort="ascending"
                                            aria-label="Name: activate to sort column descending">Auteur
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                            style="width: 405px;" aria-label="Position: activate to sort column ascending">
                                            commentaire
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                            style="width: 200px;" aria-label="Office: activate to sort column ascending">
                                            nombre de signalements
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                            style="width: 101px;" aria-label="Age: activate to sort column ascending">date du dernier signalement
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                            style="width: 172px;" >

                                        </th>
                                    </tr>
                                    </thead>
                                    <tfoot>

                                    </tfoot>
                                    <tbody>
{#                                    Pour afficher les différentes données dans les colonnes#}
                                    {% for comment in commentsFlagged %}
                                        <tr>
                                            <th rowspan="1" colspan="1">{{ comment.author.email }}</th>
                                            <th rowspan="1" colspan="1">{{ comment.content | slice(0, 30) }}</th>
                                            <th rowspan="1" colspan="1">{{ comment.flags | length }}</th>
{#                                            pour afficher la date dans ce format la#}
                                            <th rowspan="1" colspan="1">{{ (comment.flags | last).date | date("Y-m-d H:i:s")}}</th>
{#                                             on fait un a href pour pouvoir aller sur la route qui permet de voir et traiter les commentaires signalés#}
                                            <th rowspan="1" colspan="1"><a href="{{ path('admin-homeReportedComment', {id: comment.id}) }}"><i class="fa fa-eye green-color"></i></a></th>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

{% endblock content %}
